* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.container_principal {
    margin-top: 120px;
    width: 87%;
    border-radius: 5px;
    background-color: #ededed;
    padding: 20px;
}
.container_principal p{
    text-align:center;
    color: black;
    font-weight: bold;
    font-size:24px;
    font-family: arial;
}
.container_principal input[type=text]:focus,input[type=number]:focus, select:focus, textarea:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 40em) {

    .container_principal{
        width: 97%;
        overflow: visible;
        margin-top:18%;
        padding: 18px;
    }
}