
:root {
    --cor-botao: #e78200;
    --cor-botao-hover: #ffb24d;
    --cor-botao-ok: #367fbf;
    --cor-botao-ok-hover: #5e9acf;
    --cor-botao-cancelar: #d53530;
    --cor-botao-cancelar-hover: #d9534f;
    --cor-botao-pesquisar: #ffc107;
    --cor-botao-pesquisa-hover: #ffbf00;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.table td, th {
    text-align: center;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    position: static;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 4px;
    vertical-align: middle;

}

.table > thead > tr > th {
    position: relative;
}

.col-5 {
    width: 5%;
    position: relative;
}

.col-30 {
    width: 30%;
    margin-left: 34%;
}

.col-50 {
    width: 50%;
    margin-left: 25%;
}

.col-25 {
    text-align: right;
    float: left;
    width: 25%;
    padding-left: 40px;
}

.col-60 {
    text-align: right;
    float: left;
    padding-left: 3px;
    width: 60%;
    margin-top: 6px;
}

/*inicio css finalização*/
.totais input[type=text], select, textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    resize: vertical;
}

.totais p {
    font-size: 14px;
}

.subtotais_valores_fin {
    width: 100%;
}

.col-30-fin {
    text-align: right;
    float: left;
    width: 30%;
    margin-top: 6px;
    padding-left: 3px;
}

.col-40-fin {
    text-align: right;
    float: left;
    width: 40%;
    margin-left: 30%;
}

.col-70-fin {
    text-align: middle;
    float: left;
    width: 100%;
}

.col-05-fin {
    text-align: right;
    float: left;
    width: 5%;
}

.col-04-fin {
    margin-left: 5px;
    text-align: right;
    float: left;
    width: 4%;
    margin-top: 6px;
}

.selecao_cartoes table {
    width: 70%;
    max-width: 70%;
    margin-bottom: 20px;
}

.botoes_align_finaliza {
    width: 100%;
    text-align: center;
}

.botoes_align_finaliza input[type=submit]{
    width:25%;
}
.botoes_align_finaliza input[type=button]{
    width:25%;
}

/*final css finalização*/

.botoes_align_finaliza {
    width: 100%;
    text-align: center;
}

.dados_iniciais {
    margin-right: 60%;
    margin-top: -2%;

}

.dados_iniciais label {
    font-weight: normal;
}

.incluir_itens {
    margin-left: 60%;
    margin-top: -4%;
}

.incluir_itens p {
    color: var(--cor-botao-ok);
    font-size: 16px;
}

.incluir_itens p:hover {
    color: var(--cor-botao-ok-hover);
}

.qtd_produtos {
    margin-right: 75%;
    margin-top: -30px;
}

.qtd_produtos label {
    font-size: 12px;
}

.itens_carrinho {
    max-height: 210px;
    overflow: auto;
}

.col-50-sub {
    width: 50%;
    float: left;
    margin-top: 8px;
}

.col-50-sub input {
    padding: 2px;
}

.col-25-sub {
    width: 25%;
    float: left;
    margin-bottom: -14px;
}

.col-50-tot {
    width: 50%;
    float: left;
    margin-top: 10px;
}

.col-50-tot input {
    padding: 2px;
}

.col-25-tot {
    width: 25%;
    float: left;
}

.subtotais_valores {
    width: 50%;
    margin-left: 50%;
}

.subtotais_valores label {
    font-weight: normal;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text], select, textarea {
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    left: -20%;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

input[type=number], select, textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.class_btn td {
    padding: 5px;
}

label {
    padding: 10px 12px 12px 0;
    display: inline-block;
}

.btn_pesquisa:hover {
    background-color: var(--cor-botao-pesquisa-hover);
}

.btn_pesquisa {
    display: inline-block;
    width: 25%;
    background-color: var(--cor-botao-pesquisa);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: var(--cor-botao-cancelar-hover);
}

input[type=button] {
    display: inline-block;
    width: 30%;
    background-color: var(--cor-botao-cancelar);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] {
    display: inline-block;
    width: 30%;
    background-color: var(--cor-botao-ok);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--cor-botao-ok-hover);
}

.botoes_align {
    width: 100%;
    text-align: center;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 40em) {
    .selecao_cartoes table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
        padding-left: 0;
    }

    .col-60 {
        text-align: right;
        float: left;
        width: 100%;
        margin-top: 0px;
    }

    .col-25 {
        text-align: left;
    }

    .col-30 {
        width: 90%;
        margin-left: 0;
    }

    .col-50 {
        width: 90%;
        margin-left: 0;
    }

    .checkbox-inline, .radio-inline {
        position: relative;
        text-align: left;
        display: inline-block;
        left: 0;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: 400;
        vertical-align: middle;
        cursor: pointer;
    }

    .table {
        padding: 8px;
        font-size: 90%;
        line-height: 1.42857143;
        border-top: 1px solid #ddd;
        text-align: center;
    }

    input[type=submit], input[type=button] {
        width: 42%;
        text-align: center;
        margin-top: 2%;
    }

    .incluir_itens {
        display: none;
    }

    .incluir_itens_mobile {
        display: block;
        position: fixed;
        left: 87%;
        z-index: 1;
        top: 23%;
    }

    .dados_iniciais {
        margin-right: 40%;
    }

    /*Retirar os espaçamentos no mobile*/
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th {
        padding: 3px;
        vertical-align: middle;
    }

    .table > thead > tr > th {
        padding: 3px;
    }

    .subtotais_valores {
        width: 97%;
        margin-left: 5%;
    }

    .col-50-sub {
        width: 65%;

    }

    .col-50-tot {
        width: 65%;

    }

    .botoes_align {
        width: 95%;
        text-align: center;
        margin-right: 6%;
    }
}

@media screen and (min-width: 40em) {
    .incluir_itens_mobile {
        display: none;
    }
}

